.projects {
  width: 100%;
  height: fit-content;
  background-color: var(--very-peri);
  padding-bottom: 5rem;
}

.project-paragraph {
  padding-bottom: 2rem;
  text-align: center;
}

.projects-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .projects-title {
    padding-top: 2rem;
  }

  .projects-content {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    padding: 5rem 0;
    gap: 2rem;
  }

  .project-paragraph {
    text-align: start;
    max-width: 30%;
  }

  .projects-cards {
    max-width: 70%;
    justify-content: space-evenly;
  }
}
