.projects {
  width: 100%;
  height: fit-content;
  background-color: var(--very-peri);
  padding-bottom: 5rem;
}

.projects-content {
  padding-top: 10%;
}

.projects-title {
  padding-top: 2rem;
}

.project-paragraph {
  padding-bottom: 2rem;
}

.projects-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .projects-title {
    padding-top: 2rem;
  }

  .projects-content {
    display: flex;
    flex-direction: row;
  }

  .project-paragraph {
    align-self: start;
    font-size: 2.5rem;
    width: 30%;
    display: inline;
  }

  .projects-cards {
    width: 70%;
  }
}
