.about {
  background-color: var(--soft-violet);
  width: 100%;
  height: fit-content;
  padding-bottom: 5rem;
}

.about-container {
  margin: 0 2rem;
  padding-top: 5rem;
}

.about-paragraph {
  margin-bottom: 2rem;
}