/* Main container and contact */
.footer {
  width: 100%;
  height: fit-content;
}

.footer-paragraph {
  margin-bottom: 2rem;
}

.contact-list-containter {
  margin-bottom: 2rem;
}

/* Social */

.footer-social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
  background-color: var(--very-peri);
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: space-evenly;
  padding: 0 1rem 1rem 1rem;
}

.copyright {
  color: var(--soft-white);
}

@media (min-width:600px)  {
  .footer-contact {
    padding-left: 10%;
  }

  .contact-content {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
  }

  .footer-paragraph {
    font-size: 2.5rem;
    width: 30%;
  }
}