.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal {
  height: 80%;
  width: 90%;
  position: fixed;
  z-index: 2000;
  top: 10%;
  left: 5%;
  background-color: var(--soft-white);
}

.modal-content {
  height: 98%;
  padding: 1rem;
}

/* Top part */
.modal-close-button {
  display: inline;
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  border: solid 1px var(--very-peri);
  padding: 3px;
  margin-bottom: 1rem;
}

.modal-image {
  width: 100%;
  height: 180px;
}

.project-description-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* css pills */
.project-tech {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tech-css-pills {
  border-color: var(--very-peri);
  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
  padding: 3px 4px;
  margin: 2px;
}

/* Links */
.project-links {
  width: 100%;
  height: 88px;
}

.project-hosted,
.project-repo {
  display: block;
  height: 40px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.project-hosted {
  background-color: var(--very-peri);
  color: var(--soft-white);
  margin-bottom: 1rem;
}

.project-repo {
  border: solid var(--very-peri);
  color: var(--very-peri);
}
