.techstack {
  height: 95%;
  background-color: var(--soft-violet);
}

.techstack-paragraph {
  padding: 0 2rem 2rem 0;
}

.tech-icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 720px) {
  .techstack-content {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    padding: 10rem 0;
  }

  .techstack-paragraph {
    align-self: flex-start;
    font-size: 2.5rem;
    display: inline;
    max-width: 30%;
  }

  .tech-icons-container {
    align-self: center;
    padding-left: 5rem;
    max-width: 50%;
    min-width: 30%;
  }
}
