.techstack {
  height: 90%;
  background-color: var(--soft-violet);
  padding: 6rem 2rem 2rem 2rem;
}

.techstack-paragraph {
  padding: 0 2rem 2rem 0;
}

.tech-icons-container {
  width: 328px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}