.about {
  background-color: var(--very-peri);
  color: var(--soft-white);
}

.about-img-desktop {
  display: none;
}

.about-img-mobile {
  height: 300px;
  width: 300px;
}

.about-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px) {
  .about-paragraph {
    align-self: start;
  }

  .about-img-desktop {
    display: inline;
    height: 500px;
    width: 500px;
  }

  .about-img-mobile {
    display: none;
  }
}
