.about {
  position: relative;
}

.about-img-desktop {
  display: none;
}

.about-img-mobile {
  height: 300px;
  width: 300px;
}

.about-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-paragraph {
  padding-bottom: 2rem;
}

.shape-divider-bottom--thin {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape-divider-bottom--thin svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 58px;
}

.shape-divider-bottom--thin .shape-fill {
  fill: var(--very-peri);
}

@media (min-width: 600px) {
  .about-title {
    align-self: flex-start;
    margin-left: 10%;
    padding-bottom: 4rem;
  }

  .about-img-desktop {
    display: inline;
    height: 400px;
    width: 400px;
    align-self: baseline;
  }

  .about-img-mobile {
    display: none;
  }

  .about-content-container {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    gap: 2rem;
    padding: 5rem 0;
  }

  .shape-divider-bottom--thin {
    display: inline;
  }
}
