.techstack {
  height: fit-content;
  background-color: var(--soft-violet);
}

.techstack-title {
  padding-bottom: 2rem;
}

.techstack-paragraph {
  text-align: center;
  padding: 2rem;
}

.tech-icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 600px) {
  .techstack-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    padding: 5rem 0;
    gap: 1rem;
  }

  .techstack-paragraph {
    align-self: flex-start;
    padding: 0;
    flex-grow: 1;
    max-width: 40%;
  }

  .tech-icons-container {
    flex-grow: 2;
    align-self: center;
    max-width: 70%;
    padding: 0;
  }
}
