.about {
  background-color: var(--very-peri);
  width: 100%;
  height: fit-content;
  padding-bottom: 5rem;
  color: var(--soft-white);
}

.about-title-container {
  padding-bottom: 2rem;
}

.about-paragraph {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.about-img-desktop {
  display: none;
}

.about-img-mobile {
  height: 300px;
  width: 300px;
  align-self: center;
}

.about-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width:720px) {
  
  .about-title-container {
    width: 100%;
    padding-bottom: 0;
  }

  .about-content-container {
    flex-wrap: nowrap;
    gap: 10rem;
  } 

  .about-paragraph {
    align-self: start;
    font-size: 2.5rem;
  }

  .about-img-desktop {
    display: inline;
    height: 500px;
    width: 500px;
  }

  .about-img-mobile {
    display: none;
  }
}
