@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&family=Permanent+Marker&display=swap");

/* General rules */

:root {
  --very-peri: #6667ab;
  --soft-violet: #d7d5eb;
  --soft-gray: #edecf5;
  --soft-white: #f9f8ff;
  --black: #000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--soft-violet);
}

body {
  font-size: 1.6rem;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

/* Typography */

h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.4rem;
  padding-bottom: 2rem;
}

/* General layout organization */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  padding: 2rem;
}

/* Media query for desktop */

@media (min-width: 600px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5rem;
  }

  p {
    font-size: 2rem;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}
