@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&family=Permanent+Marker&display=swap');

:root {
  --very-peri: #6667ab;
  --soft-violet: #d7d5eb;
  --soft-gray: #eeeeee;
  --soft-white: #f9f8ff;
  --black: #000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--soft-white);
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: 'Libre Baskerville', serif;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2.2rem;
}

.section-container {
  padding: 0 2rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width:600px) {
  h1 {
    font-size: 5.0rem;
  }

  h2 {
    font-size: 4.2rem;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 5rem;
    padding-left: 10%;
    padding-right: 10%;
  }
}